@import "tailwindcss";

@page {
    size: A4 landscape;
    margin: 12mm;
}

@media print {
    body {
        background: white;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}
